<h1> Create aeroplane form</h1>

<!-- <p>
  <%#= f.label :plane_id %>
  <%#= f. :plane_id, :required => true %>
</p>

flight_id
total number of seats? -->
<!-- date -->

number_field

date_field
date_select

<p>
  <%= f.label :origin %>
  <%= f.text_field :origin, :required => true %>
</p>


<p>
  <%= f.label :destination %>
  <%= f.text_field :destination, :required => true %>
</p>



<%= f.submit "Create Aeroplane" %>
<% end %>
